// compress: false, javascriptEnabled: true
/* --------------------------------------------------------------
MEDIAQUERIES LG/MD - LAYOUTS BIGGER THAN 992px
-------------------------------------------------------------- */
@media (max-width: 1920px) {}

@media (max-width: 1680px) {
    .main-hero-boxed-content {
        padding-right: 4vw;
        margin-left: 27%;
    }

    .coming-soon-time .coming-soon-time-wrapper {
        max-width: 40vw;
    }
}

@media (max-width: 1600px) {
    .main-hero-boxed-content {
        padding-right: 4vw;
        margin-left: 26%;
    }

    .thanks-main-class {
        padding-bottom: 21vh !important;
    }
}

@media (max-width: 1440px) {
    .main-hero-boxed-content {
        padding-right: 4vw;
        margin-left: 19%;
    }

    .coming-soon-time .coming-soon-time-wrapper {
        max-width: 50vw;
    }

    .mailchimp-form-container .mailchimp-form-container-wrapper {
        max-width: 45vw;
        width: 100%;
    }
}

@media (max-width: 1366px) {

    .main-hero-boxed-content {
        padding-right: 4vw;
        margin-left: 14%;
    }


    /* KNOW SECTION */
    .main-know-container {
        &:before {
            opacity: .5;
        }
    }

    /* ABOUT SECTION */
    .main-about-container:before {
        opacity: 0.4;

    }

    .main-about-container {
        background-position: 45vw center !important;
    }

    .main-about-container .main-about-content .main-about-text {
        font-size: 1.3rem;
        line-height: 2.3rem;
    }

    .thanks-main-class {
        padding: 6vh 1rem !important;
        padding-bottom: 16vh !important;
    }
}

@media (max-width: 1280px) {
    .main-hero-boxed-content {
        padding-right: 4vw;
        margin-left: 9%;
    }

    .main-test-container .main-test-slider-container .testimonial-swiper .services-item-wrapper-text {
        padding: 1.5rem 0;
        line-height: 1.7rem;
        font-size: 0.9rem;
    }

    .main-test-container .main-test-slider-container .testimonial-swiper:before {
        width: 20vw;
    }

    .main-test-container .main-test-slider-container .testimonial-swiper:after {
        width: 22vw;
    }
}

@media (max-width: 1170px) {

    .main-hero-boxed-content {
        padding-right: 4vw;
        margin-left: 19%;
    }

    /* MAIN HERO */
    .main-hero-container .main-hero-content h1 {
        font-size: 2.5rem;
        line-height: 3.5rem;
    }

    .main-hero-container .main-hero-content {
        font-size: 1.1rem;
        line-height: 2.1rem;
    }

    .main-hero-container .img-back {
        right: -20px;
    }

    /* MAIN EBOOK */
    .main-ebook-description-container .main-ebook-description-content .main-ebook-description-title {
        font-size: 2rem;
        line-height: 2.5rem;
    }

    .main-ebook-description-container .main-ebook-description-content .main-ebook-description-text {
        font-size: 1.4rem;
        line-height: 2.4rem;
    }

    /* KNOW SECTION */
    .main-know-container .main-know-content .main-know-description-title {
        font-size: 2.1rem;
        line-height: 2.7rem;
    }

    .main-know-container .main-know-content .main-know-description-text {
        font-size: 1.3rem;
        line-height: 2.3rem;
    }

    /* MAIN BULLETS CONTAINER */
    .main-bullets-container .main-bullets-content .main-bullets-list-content li {
        position: relative;
        font-family: 'Spartan', sans-serif;
        font-size: 1rem;
        line-height: 1.7rem;
        padding-bottom: 0.5rem;
    }

    /* MAIN ABOUT SECTION */
    .main-about-container .main-about-content .main-about-title {
        font-size: 2.2rem;
        line-height: 3rem;
        margin-bottom: 0.5rem;
    }

    .main-about-container .main-about-content .main-about-text {
        font-size: 1.2rem;
        line-height: 2.2rem;
    }

    /* MAIN SERVICES CONTAINER */
    .main-services-container .main-services-content .main-services-subtitle {
        font-size: 1.3rem;
        line-height: 2.5rem;
        margin-bottom: 1rem;
    }

    .main-services-container .services-item .services-item-wrapper h3 {
        font-size: 1.1rem;
        margin-top: 4.5rem;
        margin-bottom: 1rem;
    }

    .main-services-container .services-item .services-item-wrapper h3:before {
        left: 37%;
    }

    .main-services-container .services-item .services-item-wrapper {
        padding: 1.5rem 1.2rem;
        min-height: 395px;
    }

    .main-services-container .services-item .services-item-wrapper .services-item-wrapper-text {
        font-size: 1rem;
        line-height: 1.7rem;
    }

    /* FAQ SECTION */
    .main-faq-container .main-faq-content .main-faq-subtitle {
        font-size: 1.2rem;
        line-height: 2.3rem;
        padding: 0.5rem 1rem;
    }

    .main-faq-container .main-faq-content .main-faq-title {
        font-size: 2.3rem;
        line-height: 2.5rem;
    }

    .main-faq-container .main-faq-collapse-container .btn-collapse {
        font-size: 1.1rem;
    }

    .main-faq-container .main-faq-collapse-container .card-body {
        font-size: 1rem;
        line-height: 2rem;
    }

    .main-test-container .main-test-content .main-test-title {
        font-size: 2.2rem;
        line-height: 2.5rem;
    }

    .main-test-container .main-test-content .main-test-text {
        font-size: 1.1rem;
        line-height: 2.4rem;
    }

    /* FOOTER FIX */
    .the-footer .footer-sidebar .textwidget img {
        margin: 0 0.2rem;
        max-width: 60px;
    }

    .main-hero-image-wrapper .img-person {
        z-index: 2;
        max-width: 380px;
    }

    .main-hero-image-info-box {
        bottom: 20px;
        left: 25px;
    }

    .landing-thanks-page-container .landing-thanks-page-content h1 {
        font-size: 2.5rem;
        padding: 1rem 5rem;
    }

    .coming-soon-time .coming-soon-time-wrapper {
        max-width: 60vw;
    }

    .landing-thanks-page-container {
        padding: 3rem 1rem;
    }

    .mailchimp-form-container .mailchimp-form-container-wrapper {
        max-width: 55vw;
    }

    .thanks-main-class h1 {
        font-size: 2rem !important;
        padding: 1rem 3rem !important;
    }

}

@media (max-width: 1024px) {
    .main-hero-boxed-content {
        padding-right: 4vw;
        margin-left: 9%;
    }

    /* MAIN HERO */
    .main-hero-container .main-hero-content h1 {
        font-size: 2.4rem;
        line-height: 3.2rem;
    }

    .landing-thanks-page-container .landing-thanks-page-content h2 {
        font-size: 1.2rem;
    }

    .coming-soon-time .coming-soon-time-wrapper {
        max-width: 65vw;
    }
}

@media (max-width: 992px) {}

/* --------------------------------------------------------------
MEDIAQUERIES SM - LAYOUTS BIGGER THAN 768px
-------------------------------------------------------------- */
@media (max-width: 991px) {

    .main-test-container .main-test-slider-container .testimonial-swiper:before {
        display: none;
    }

    .main-test-container .main-test-slider-container .testimonial-swiper:after {
        display: none;
    }

    .landing-thanks-page-container {
        padding: 14.5rem 1rem;
    }

    .mailchimp-form-container .mailchimp-form-container-wrapper {
        max-width: 100%;
    }

    .coming-soon-time .coming-soon-time-wrapper {
        max-width: 100%;
        width: 100%;
        padding: 1rem 1rem;
        padding-bottom: 3rem;
    }

    .landing-thanks-page-container .landing-thanks-page-content h1 {
        font-size: 2.3rem;
        padding: 1rem 1rem;
        line-height: 3rem;
    }

    .main-hero-image-wrapper .img-person {
        z-index: 2;
        max-width: unset;
        margin: 0 auto;
        display: block;
    }

    .main-hero-image-info-box {
        bottom: 20px;
        left: 29%;
    }

    .main-hero-boxed-content {
        padding-right: 2rem;
        margin-left: 0;
        padding-left: 1rem;
    }

    /* MAIN HERO */
    .main-hero-container .main-hero-image {
        text-align: center;
    }

    .main-hero-container .main-hero-image img {
        max-width: 70vw;
    }

    .main-hero-container .img-back {
        right: 0;
        width: 80vw;
        height: auto;
    }

    .main-hero-container .main-hero-content {
        font-size: 1.1rem;
        line-height: 2.1rem;
        text-align: center;
        margin-bottom: 10rem;
    }

    /* KNOW SECTION */
    .main-know-container {
        &:before {
            opacity: .7;
        }
    }

    /* MAIN ABOUT SECTION */
    .main-about-container {
        background-position: right center !important;
    }

    .main-about-container:before {
        opacity: 0.9;
    }

    /* MAIN SERVICES CONTAINER */
    .main-services-container .main-services-content .main-services-title {
        font-size: 1.8rem;
        line-height: 2rem;
    }

    .main-services-container .main-services-content .main-services-subtitle {
        font-size: 1.1rem;
        line-height: 2.2rem;
        padding: 1rem 1rem;
    }

    .main-services-container .services-item .services-item-wrapper h3 {
        font-size: 1.3rem;
        margin-top: 4rem;
        margin-bottom: 1rem;
    }

    .main-services-container .services-item .services-item-wrapper h3:before {
        left: 31%;
    }

    .main-services-container .services-item .services-item-wrapper .services-item-wrapper-text {
        font-size: 0.9rem;
        line-height: 1.5rem;
    }

    .main-services-container .services-item .services-item-wrapper {
        padding: 1rem 1rem;
        min-height: 403px;
    }

    /* FAQ SECTION */
    .main-test-container .main-test-content .main-test-title {
        font-size: 1.8rem;
        line-height: 2rem;
    }

    .main-faq-container .main-faq-content .main-faq-title {
        font-size: 1.8rem;
        line-height: 2rem;
    }

    /* FOOTER FIX */
    .footer-copy .media-custom {
        line-height: 0.5rem;
        font-size: 0.7rem;
    }

    .thanks-main-class {
        padding: 20vh 1rem !important;
        padding-bottom: 16vh !important;
    }

}

@media (max-width: 800px) {}

@media (max-width: 768px) {}

/* --------------------------------------------------------------
MEDIAQUERIES XS - LAYOUTS LESS THAN 600px
-------------------------------------------------------------- */
@media (max-width: 767px) {

    .main-hero-image-info-box {
        bottom: 20px;
        left: 18%;
    }

    .footer-copy {
        padding: 1rem;
        padding-bottom: 5rem;
    }

    /* HEADER FIX */
    .the-header {
        padding: 0 1rem;
    }

    .the-header .header-button {
        text-align: center;
        padding: 0.3rem;
    }

    .header-logo {
        text-align: center;
        padding: 0.5rem;
    }

    .header-button {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 99;
        padding: 0.5rem !important;
        background: white;
        box-shadow: 0 0 5px #cacaca;
    }

    /* MAIN HERO */
    .main-hero-container {
        padding: 4rem 0rem;
    }

    .main-hero-container .main-hero-content {
        margin-bottom: 5rem;
    }

    .main-hero-container .img-back {
        display: none;
    }

    .main-hero-container .main-hero-image {
        padding-bottom: 2rem;
    }

    .main-hero-container .main-hero-content .btn-hero {
        display: none;
    }

    .main-bullets-container {
        padding: 3rem 1.5rem !important;
    }

    /* MAIN EBOOK */
    .main-ebook-description-container .main-ebook-description-content .main-ebook-description-title {
        font-size: 1.5rem;
        line-height: 2.3rem;
        font-weight: 600;
    }

    .main-ebook-description-container .main-ebook-description-content .main-ebook-description-text {
        font-size: 1.1rem;
        line-height: 2.1rem;
    }

    /* KNOW SECTION */
    .main-know-container .main-know-content .main-know-description-title {
        font-size: 1.5rem;
        line-height: 2.3rem;
        font-weight: 600;
    }

    .main-know-container .main-know-content .main-know-description-text {
        font-size: 1.2rem;
        line-height: 2rem;
    }

    .main-know-container {
        background-size: cover !important;
    }

    /* MAIN BULLETS CONTAINER */
    .main-bullets-container .main-bullets-content .main-bullets-title {
        font-size: 1.6rem;
        line-height: 2.2rem;
    }

    /* MAIN ABOUT SECTION */
    .main-about-container {
        padding: 5rem 1rem;
        background-size: cover !important;
    }

    .main-about-container .main-about-content .main-about-title {
        font-size: 1.8rem;
        line-height: 2.8rem;
    }

    .main-about-container .main-about-content .main-about-text {
        font-family: 'Spartan', sans-serif;
        font-size: 1.1rem;
        line-height: 2rem;
        margin: 1.5rem 0;
        font-weight: 300;
    }

    /* MAIN SERVICES CONTAINER */
    .main-services-container .main-services-content .main-services-subtitle {
        font-size: 1rem;
        line-height: 1.8rem;
    }

    .main-services-container .services-item .services-item-wrapper {
        min-height: 380px;
    }

    .main-services-container .row {
        justify-content: center !important;
    }

    /* FAQ SECTION */
    .main-faq-container .main-faq-collapse-container .btn-collapse {
        font-size: 1rem;
        text-align: left;
    }

    .main-test-container .main-test-content .main-test-text {
        font-size: 1rem;
        line-height: 2.1rem;
    }

    .main-faq-container .main-faq-content .main-faq-subtitle {
        font-size: 1rem;
        line-height: 2.1rem;
    }

    /* FOOTER FIX */
    .footer-copy .footer-copy-right {
        text-align: center;
        margin-top: 10px;
    }

    .the-footer .footer-sidebar .textwidget img {
        margin: 0 0.5rem;
        max-width: 80px;
    }

    .footer-copy .media-custom img {
        display: none;
    }

    .footer-copy .media-custom {
        line-height: 1.8rem;
        font-size: 1rem;
        text-align: center;
        justify-content: center;
    }

    .main-hero-boxed-content {
        padding-right: 1rem;
        margin-left: 0;
        padding-left: 1rem;
    }

    .box-webinar-lines {
        position: absolute;
        right: 0;
        z-index: 8;
        transform: scale(0.7);
    }

    .landing-thanks-page-container {
        padding: 5.5rem 1rem;
    }

    .landing-thanks-page-container .landing-thanks-page-content {
        z-index: 9;
    }

    .landing-thanks-page-container .landing-thanks-page-content h1 {
        font-size: 1.8rem;
        padding: 1rem 0;
        line-height: 2.5rem;
    }

    .landing-thanks-page-container .landing-thanks-page-content h2 {
        font-size: 1.5rem;
        line-height: 2.5rem;
    }

    .coming-soon-time {
        padding: 1rem 0rem;
        padding-top: 0;
    }

    .coming-soon-time .coming-soon-time-wrapper {
        padding: 1rem 0rem;
        padding-bottom: 3rem;
    }

    .coming-soon-time .promo-countdown-container {
        padding: 1rem 0rem;
    }

    .landing-thanks-page-container:before {
        display: none;
    }

    .landing-thanks-page-container:after {
        display: none;
    }

    .landing-thanks-page-container {
        background: none #FCF6F1;
    }

    .footer-empty {
        padding-bottom: 1rem !important;
    }

    .thanks-main-class {
        padding: 10vh 1rem !important;
        padding-bottom: 10vh !important;
    }

    .thanks-main-class h1 {
        font-size: 1.7rem !important;
        padding: 1rem 1rem !important;
    }

    .landing-thanks-page-container .landing-thanks-page-content h2 {
        font-size: 1.1rem;
        line-height: 2.2rem;
    }
}

@media (max-width: 600px) {}

@media (max-width: 533px) {

    .box-webinar-lines {
        position: absolute;
        right: -10px;
        z-index: 8;
        transform: scale(0.7);
    }

    /* MAIN HERO */
    .main-hero-container .main-hero-content h1 {
        font-size: 2.1rem;
        line-height: 2.8rem;
    }

    /* MAIN EBOOK DESCRIPTION */
    .main-ebook-description-container {
        padding: 4rem 1rem;
    }

    .main-ebook-description-container .main-ebook-description-content .main-ebook-description-title {
        font-size: 1.3rem;
        line-height: 2rem;
    }

    .main-ebook-description-container .main-ebook-description-content .main-ebook-description-text {
        font-size: 1rem;
        line-height: 1.8rem;
    }

    /* KNOW SECTION */
    .main-know-container .main-know-content .main-know-description-title {
        font-size: 1.3rem;
        line-height: 2.1rem;
    }

    .main-know-container .main-know-content .main-know-description-text {
        font-size: 1rem;
        line-height: 1.8rem;
    }

    /* MAIN BULLETS CONTAINER */
    .main-bullets-container .main-bullets-content .main-bullets-list-content li {
        font-size: 1.05rem;
        line-height: 1.8rem;
        padding-bottom: 1rem;
    }

    .main-bullets-container .main-bullets-content .main-bullets-title {
        font-size: 1.5rem;
        line-height: 2.2rem;
        margin-bottom: 1.5rem;
    }

    /* MAIN ABOUT SECTION */
    .main-about-container .main-about-content .main-about-title {
        font-size: 1.6rem;
        line-height: 2.5rem;
    }

    /* MAIN SERVICES SECTION */
    .main-services-container .main-services-content .main-services-title {
        font-size: 1.3rem;
        line-height: 1rem;
    }

    .main-services-container .main-services-content .main-services-subtitle {
        font-size: 1rem;
        line-height: 1.5rem;
        margin-bottom: .5rem;
    }

    .main-services-container .services-item .services-item-wrapper {
        padding: 2rem;
        min-height: unset;
    }

    /* FAQ SECTION */
    .main-test-container .main-test-content .main-test-title {
        font-size: 1.3rem;
        line-height: 2.1rem;
    }

    .main-faq-container .main-faq-content .main-faq-title {
        font-size: 1.3rem;
        line-height: 2.1rem;
    }

    .main-hero-image-wrapper .img-person {
        max-width: 70%;
    }

    .main-hero-image-info-box {
        left: 10.5vw;
    }

    .landing-thanks-page-container .landing-thanks-page-content h1 {
        font-size: 1.5rem;
        padding: 1rem 0;
        line-height: 2.2rem;
    }

    .coming-soon-time .promo-countdown-container .base-timer {
        height: 90px;
        width: 90px;
    }


    .coming-soon-time .promo-countdown-container .base-timer__label {
        font-size: 25px;
        width: 90px;
        height: 90px;
    }

    .coming-soon-time .promo-countdown-container .base-timer h4 {
        margin-top: 10px;
        font-size: 1rem;
    }

    .mailchimp-form-container .mailchimp-form-container-wrapper input {
        font-size: 0.9rem;
        padding: 1rem 0.7rem;
    }

    .mailchimp-form-container .mailchimp-form-container-wrapper .btn-outline-secondary {
        padding: 0.5rem 1.5rem;
        font-size: 0.9rem;
    }
}

@media (max-width: 424px) {

    .box-webinar-lines {
        position: absolute;
        right: -30px;
        z-index: 8;
        transform: scale(0.6);
    }

    /* MAIN BULLETS CONTAINER */
    .main-bullets-container .main-bullets-content .main-bullets-title {
        font-size: 1.3rem;
        line-height: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .main-bullets-container .main-bullets-content .main-bullets-list-content li {
        font-size: .9rem;
        line-height: 1.5rem;
        padding-bottom: 0.5rem;
    }

    /* MAIN ABOUT SECTION */
    .main-about-container .main-about-content .main-about-title {
        font-size: 1.3rem;
        line-height: 2.1rem;
        text-align: center;
    }

    .main-about-container .main-about-content .main-about-subtitle {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .landing-thanks-page-container {
        padding: 2.5rem 1rem;
    }

    .landing-thanks-page-container .landing-thanks-page-content h2 {
        font-size: 1.2rem;
        line-height: 2.2rem;
    }

    .coming-soon-time .promo-countdown-container .base-timer {
        height: 70px;
        width: 70px;
    }

    .coming-soon-time .promo-countdown-container .base-timer h4 {
        margin-top: 10px;
        font-size: 0.8rem;
    }

    .coming-soon-time .promo-countdown-container .base-timer__label {
        font-size: 22px;
        width: 70px;
        height: 70px;
    }

    .main-hero-image-info-box {
    left: 7vw;
}
}

@media (max-width: 414px) {

    /* MAIN HERO */
    .main-hero-container .main-hero-content h1 {
        font-size: 1.9rem;
        line-height: 2.5rem;
    }

    /* MAIN EBOOK DESCRIPTION */
    .main-ebook-description-container .main-ebook-description-content .main-ebook-description-title {
        font-size: 1.2rem;
        line-height: 1.8rem;
    }

    .main-ebook-description-container .main-ebook-description-content .main-ebook-description-text {
        font-size: 1rem;
        line-height: 1.8rem;
    }

    /* MAIN BULLETS CONTAINER */
    .main-bullets-container .main-bullets-content .main-bullets-title {
        font-size: 1.1rem;
        line-height: 1.5rem;
        margin-bottom: 1.5rem;
        text-align: center;
    }

    .main-bullets-container .main-bullets-content .btn-hero {
        padding: 1.3rem 0.8rem;
        padding-bottom: 1rem;
        font-size: 1rem;
    }

    /* MAIN SERVICES SECTION */
    .main-services-container .main-services-content .main-services-title {
        font-size: 1.1rem;
        line-height: 1rem;
    }
}

@media (max-width: 375px) {

    .main-hero-image-info-box {
        left: 7vw;
    }

    /* MAIN EBOOK DESCRIPTION */
    .main-ebook-description-container .main-ebook-description-content .btn-hero {
        margin-top: 1.5rem;
        padding: 1.3rem 1.3rem;
        padding-bottom: 1rem;
        line-height: 1rem;
        font-size: 1rem;
    }

    /* KNOW SECTION */
    .main-know-container .main-know-content .btn-hero {
        margin-top: 1.5rem;
        padding: 1.3rem 1.3rem;
        padding-bottom: 1rem;
        line-height: 1rem;
        font-size: 1rem;
    }

    /* faq section */
    .main-test-container .main-test-content .main-test-title {
        font-size: 1.1rem;
        line-height: 2.1rem;
    }

    .main-faq-container .main-faq-content .main-faq-title {
        font-size: 1.1rem;
        line-height: 2.1rem;
    }

    .mailchimp-form-container .mailchimp-form-container-wrapper input {
        flex: 0 0 100%;
    }

    .mailchimp-form-container .mailchimp-form-container-wrapper .input-group-append {
        margin-left: 0;
        flex: 0 0 100%;
    }

    .mailchimp-form-container .mailchimp-form-container-wrapper .btn-outline-secondary {
        padding: 1.1rem 1.5rem;
        font-size: 0.9rem;
        width: 100%;
    }
}

@media (max-width: 360px) {}

@media (max-width: 320px) {}

@media (max-width: 280px) {

    /* HEADER FIX */
    .btn-yellow {
        padding: 0.7rem 1.1rem;
        font-size: 0.8rem;
        line-height: 0.8rem;
    }

    /* MAIN HERO */
    .main-hero-container {
        position: relative;
        padding: 2rem 0rem;
        overflow: hidden;
    }

    .main-hero-container .main-hero-content h1 {
        font-size: 1.3rem;
        line-height: 2.1rem;
    }

    .main-hero-container .main-hero-content {
        font-size: 1rem;
        line-height: 1.8rem;
        margin-bottom: 2.5rem;
    }

    /* MAIN EBOOK DESCRIPTION */
    .main-ebook-description-container .main-ebook-description-content .main-ebook-description-title {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .main-ebook-description-container .main-ebook-description-content .btn-hero {
        padding: 1.2rem 0.7rem;
        padding-bottom: 1rem;
        line-height: 1rem;
        font-size: 0.8rem;
    }

    /* MAIN ABOUT SECTION */
    .main-about-container .main-about-content .main-about-title {
        font-size: 1rem;
        line-height: 1.8rem;
    }

    .main-about-container .main-about-content .main-about-subtitle {
        font-size: 1rem;
        line-height: 1.5rem;
        margin-bottom: 0.5rem;
    }

    .main-about-container .main-about-content .main-about-text {
        font-size: 1rem;
        line-height: 1.7rem;
    }

    /* MAIN SECTION CONTAINER */
    .main-services-container .main-services-content .main-services-title {
        font-size: 1rem;
        line-height: 2rem;
    }

    .main-services-container .main-services-content .main-services-subtitle {
        font-size: 1rem;
        line-height: 1.5rem;
        font-style: italic;
        padding: 1rem 1rem;
        margin-bottom: .5rem;
    }
}