/* --------------------------------------------------------------
/* MAIN LESS MIXINS AND FUNCTIONS - LESSHAT
-------------------------------------------------------------- */
/* --------------------------------------------------------------
VARIABLES
-------------------------------------------------------------- */
/* --------------------------------------------------------------
BODY DEFAULTS
-------------------------------------------------------------- */
html,
body {
  height: 100%;
  scroll-behavior: smooth;
}
@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1200px;
  }
}
@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
body {
  color: #424045;
  font-family: 'Merriweather', serif;
  font-weight: 400;
}
a {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
a:hover {
  text-decoration: none;
}
.page-container {
  min-height: 75vh;
}
/* LOADER */
.loader-css {
  display: inline-block;
  width: 80px;
  height: 80px;
  padding-top: 2rem;
}
.loader-css:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #FFA32A;
  border-color: #FFA32A transparent #FFA32A transparent;
  animation: loader-spin 1.2s linear infinite;
}
@keyframes loader-spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.btn-yellow {
  font-family: 'Spartan', sans-serif;
  background: #FFA32A;
  color: #ffffff;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 0;
  padding: 0.7rem 1.1rem;
}
.btn-yellow:hover {
  background: #11116B;
  color: #ffffff;
}
/* --------------------------------------------------------------
1.- HEADER
-------------------------------------------------------------- */
.container-header {
  background: white;
  z-index: 99;
}
.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
}
.the-header {
  background: #ffffff;
  color: #000000;
  padding: 1rem 1rem;
}
.the-header .header-logo .navbar-brand {
  margin: 0;
}
.the-header .header-button {
  text-align: right;
}
/* --------------------------------------------------------------
2.- FOOTER
-------------------------------------------------------------- */
.the-footer {
  padding: 3rem 1rem;
  padding-bottom: 1rem;
}
.the-footer .footer-sidebar {
  list-style: none;
  padding: 0;
  margin: 0;
}
.the-footer .footer-sidebar .widgettitle {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  margin-bottom: 1rem;
}
.the-footer .footer-sidebar .textwidget {
  padding: 1rem 2rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.the-footer .footer-sidebar .textwidget img {
  margin: 0 0.5rem;
  max-width: 80px;
}
.footer-copy {
  padding: 1rem;
  border-top: 1px solid #CBCBCB;
}
.footer-copy .media-custom {
  font-family: 'Spartan', sans-serif;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  line-height: 0.3rem;
  font-size: 0.75rem;
}
.footer-copy .media-custom img {
  max-width: 40px;
  margin-top: -22px;
  padding-right: 15px;
}
.footer-copy .media-custom a {
  color: #000000;
  text-decoration: underline;
}
.footer-copy .footer-copy-right {
  font-size: 2rem;
  text-align: right;
  margin-top: -10px;
}
.footer-copy .footer-copy-right a {
  color: #424045;
  margin-left: 5px;
}
/* --------------------------------------------------------------
3.- HOME
-------------------------------------------------------------- */
/* MAIN HERO */
.main-hero-container {
  position: relative;
  padding: 5rem 0rem;
  overflow: hidden;
}
.main-hero-container .img-back {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: auto;
}
.main-hero-container .main-hero-content {
  font-size: 1.4rem;
  line-height: 2.4rem;
}
.main-hero-container .main-hero-content h1 {
  font-size: 3.2rem;
  line-height: 4rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}
.main-hero-container .main-hero-content .btn-hero {
  margin-top: 1rem;
}
.main-hero-container .main-hero-image {
  text-align: right;
}
/* MAIN EBOOK DESCRIPTION */
.main-ebook-description-container {
  position: relative;
  padding: 8rem 1rem;
}
.main-ebook-description-container:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 0;
  opacity: 0.9;
}
.main-ebook-description-container .main-ebook-description-content {
  text-align: center;
}
.main-ebook-description-container .main-ebook-description-content .main-ebook-description-title {
  font-size: 2.4rem;
  line-height: 3rem;
}
.main-ebook-description-container .main-ebook-description-content .main-ebook-description-text {
  font-family: 'Spartan', sans-serif;
  font-size: 1.6rem;
  line-height: 2.5rem;
  margin: 1.5rem 0;
  font-weight: 300;
}
.main-ebook-description-container .main-ebook-description-content small {
  font-family: 'Spartan', sans-serif;
  display: block;
  font-size: 1.1rem;
  font-weight: 600;
  margin-top: 0.5rem;
}
.main-ebook-description-container .main-ebook-description-content .btn-hero {
  margin-top: 1.5rem;
  padding: 1.3rem 1.5rem;
  padding-bottom: 1rem;
  line-height: 1.2rem;
  font-size: 1.2rem;
}
/* MAIN KNOW DESCRIPTION */
.main-know-container {
  position: relative;
  padding: 7rem 1rem;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  background-position: left center !important;
}
.main-know-container:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 0;
  opacity: 0;
}
.main-know-container .main-know-content {
  text-align: center;
}
.main-know-container .main-know-content .main-know-description-title {
  font-size: 2.4rem;
  line-height: 3rem;
}
.main-know-container .main-know-content .main-know-description-text {
  font-family: 'Spartan', sans-serif;
  font-size: 1.5rem;
  line-height: 2.5rem;
  margin: 1.5rem 0;
  font-weight: 300;
}
.main-know-container .main-know-content .main-know-description-text strong {
  font-weight: 600;
}
.main-know-container .main-know-content small {
  font-family: 'Spartan', sans-serif;
  display: block;
  font-size: 1.1rem;
  font-weight: 600;
  margin-top: 0.5rem;
}
.main-know-container .main-know-content .btn-hero {
  margin-top: 1.5rem;
  padding: 1.3rem 1.5rem;
  padding-bottom: 1rem;
  line-height: 1.2rem;
  font-size: 1.2rem;
}
/* MAIN BULLETS DESCRIPTION */
.main-bullets-container {
  position: relative;
  padding: 4rem 1rem;
  background-size: contain !important;
  background-position: left center !important;
}
.main-bullets-container:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f9f2ec;
  z-index: 0;
  opacity: 0.95;
}
.main-bullets-container .main-bullets-content {
  background: #ffffff;
  text-align: center;
  padding: 1.5rem 2rem;
}
.main-bullets-container .main-bullets-content .main-bullets-title {
  font-size: 2rem;
  line-height: 2.8rem;
  margin-bottom: 1.5rem;
  font-weight: 400;
  text-align: left;
}
.main-bullets-container .main-bullets-content .main-bullets-list-content {
  text-align: left;
  list-style: none;
}
.main-bullets-container .main-bullets-content .main-bullets-list-content li {
  position: relative;
  font-family: 'Spartan', sans-serif;
  font-size: 1.15rem;
  line-height: 1.8rem;
  padding-bottom: 0.5rem;
}
.main-bullets-container .main-bullets-content .main-bullets-list-content li strong {
  font-weight: 600;
}
.main-bullets-container .main-bullets-content .main-bullets-list-content li:before {
  content: '';
  position: absolute;
  background: url(../images/checkmark.png);
  background-size: cover;
  height: 25px;
  width: 25px;
  top: 4px;
  left: -38px;
}
.main-bullets-container .main-bullets-content small {
  font-family: 'Spartan', sans-serif;
  display: block;
  font-size: 1.1rem;
  font-weight: 600;
  margin-top: 0.5rem;
}
.main-bullets-container .main-bullets-content .btn-hero {
  width: 100%;
  margin-top: 1rem;
  padding: 1.3rem 1.5rem;
  padding-bottom: 1rem;
  line-height: 1.2rem;
  font-size: 1.2rem;
}
/* MAIN ABOUT SECTION */
.main-about-container {
  position: relative;
  padding: 7rem 1rem;
  overflow: hidden;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  background-position: right center !important;
}
.main-about-container:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 0;
  opacity: 0;
}
.main-about-container .main-about-content {
  text-align: left;
}
.main-about-container .main-about-content .main-about-title {
  font-size: 2.6rem;
  line-height: 3.4rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.main-about-container .main-about-content .main-about-subtitle {
  font-style: italic;
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin-bottom: 2rem;
}
.main-about-container .main-about-content .main-about-text {
  font-family: 'Spartan', sans-serif;
  font-size: 1.5rem;
  line-height: 2.4rem;
  margin: 1.5rem 0;
  font-weight: 300;
}
.main-about-container .main-about-content .main-about-text strong {
  font-weight: 600;
}
/* BULLETS 2 */
.bullets2:before {
  opacity: 0.5;
  background: #f1f1f1;
}
/* MAIN SERVICES SECTION */
.main-services-container {
  position: relative;
  padding: 7rem 1rem;
}
.main-services-container .main-services-content {
  text-align: center;
}
.main-services-container .main-services-content .main-services-title {
  font-size: 2.4rem;
  line-height: 3rem;
  font-weight: 600;
}
.main-services-container .main-services-content .main-services-subtitle {
  font-size: 1.6rem;
  line-height: 3rem;
  font-style: italic;
  padding: 1rem 5rem;
  margin-bottom: 1.5rem;
}
.main-services-container .services-item {
  text-align: center;
  margin-bottom: 2rem;
}
.main-services-container .services-item .services-item-wrapper {
  border: 1px solid #e6e6e6;
  padding: 2rem 1.5rem;
  min-height: 420px;
  text-align: center;
}
.main-services-container .services-item .services-item-wrapper h3 {
  position: relative;
  font-size: 1.3rem;
  margin-top: 5rem;
  margin-bottom: 1.5rem;
}
.main-services-container .services-item .services-item-wrapper h3:before {
  content: '';
  background-color: #424045;
  position: absolute;
  top: -2rem;
  left: 40%;
  width: 70px;
  height: 3px;
  opacity: 0.5;
}
.main-services-container .services-item .services-item-wrapper .services-item-wrapper-text {
  font-family: 'Spartan', sans-serif;
  font-size: 1.05rem;
  line-height: 2rem;
  margin: 1rem 0;
  margin-bottom: 0;
  font-weight: 400;
}
.main-services-container .services-item .services-item-wrapper .services-item-wrapper-text strong {
  font-weight: 600;
}
.main-services-container .main-services-button-content {
  text-align: center;
}
.main-services-container .main-services-button-content small {
  font-family: 'Spartan', sans-serif;
  display: block;
  font-size: 1.1rem;
  font-weight: 600;
  margin-top: 0.5rem;
}
.main-services-container .main-services-button-content .btn-hero {
  margin-top: 1.5rem;
  padding: 1.3rem 1.5rem;
  padding-bottom: 1rem;
  line-height: 1.2rem;
  font-size: 1.2rem;
}
/* MAIN TESTIMONIALS SECTION */
.main-test-container {
  background-color: #FBF6F2;
  position: relative;
  padding: 7rem 1rem;
}
.main-test-container .main-test-content {
  text-align: center;
}
.main-test-container .main-test-content .main-test-title {
  font-size: 2.4rem;
  line-height: 3rem;
  font-weight: 600;
}
.main-test-container .main-test-content .main-test-text {
  font-size: 1.3rem;
  line-height: 3rem;
  padding: 1rem 2rem;
  margin-bottom: 1.5rem;
}
.main-test-container small {
  font-family: 'Spartan', sans-serif;
  display: block;
  font-size: 1.1rem;
  font-weight: 600;
  margin-top: 0.5rem;
}
.main-test-container .btn-hero {
  margin-top: 1.5rem;
  padding: 1.3rem 1.5rem;
  padding-bottom: 1rem;
  line-height: 1.2rem;
  font-size: 1.2rem;
}
.main-test-container .main-test-slider-container .testimonial-swiper {
  position: relative;
  font-family: 'Spartan', sans-serif;
}
.main-test-container .main-test-slider-container .testimonial-swiper:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 24vw;
  height: 100%;
  background: linear-gradient(90deg, #fbf6f2 0%, #fbf6f1 50%, rgba(251, 246, 242, 0.7) 100%);
  box-shadow: 55px -100px 161px #fbf6f2;
  z-index: 999;
}
.main-test-container .main-test-slider-container .testimonial-swiper:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 24vw;
  height: 100%;
  background: #ffffff;
  background: linear-gradient(270deg, #fbf6f2 0%, #fbf6f1 50%, rgba(251, 246, 242, 0.7) 100%);
  box-shadow: -55px -100px 169px #fbf6f2;
  z-index: 999;
}
.main-test-container .main-test-slider-container .testimonial-swiper .services-item-wrapper-text {
  padding: 1.5rem 0;
  line-height: 2rem;
  font-size: 1.1rem;
}
.main-test-container .main-test-slider-container .testimonial-swiper .services-item-wrapper-text .star-container {
  color: #FFA32A;
  font-size: 0.9rem;
  margin-bottom: 0;
}
.main-test-container .main-test-slider-container .testimonial-swiper .services-item-wrapper-text h3 {
  font-weight: 600;
  font-size: 1rem;
}
/* MAIN FAQ SECTION */
.main-faq-container {
  position: relative;
  padding: 7rem 1rem;
  overflow: hidden;
  background-size: cover !important;
  background-attachment: fixed !important;
  background-position: right center !important;
  border-bottom: 1px solid #CBCBCB;
}
.main-faq-container:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 0;
  opacity: 0.9;
}
.main-faq-container .main-faq-content {
  text-align: center;
}
.main-faq-container .main-faq-content .main-faq-title {
  font-size: 2.6rem;
  line-height: 3.4rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.main-faq-container .main-faq-content .main-faq-subtitle {
  font-style: italic;
  font-size: 1.3rem;
  line-height: 2.5rem;
  margin-bottom: 2rem;
  padding: 0.5rem 3rem;
}
.main-faq-container .main-faq-collapse-container .accordion > .card {
  overflow: hidden;
  border: 0;
  margin-bottom: 1.5rem;
  border-radius: 0;
  border-bottom: 0;
}
.main-faq-container .main-faq-collapse-container .btn-collapse {
  padding: 1.3rem;
  border-radius: 0;
  border-top: 1px solid #11116B;
  border-left: 1px solid #11116B;
  border-right: 1px solid #11116B;
  font-family: 'Spartan', sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: none !important;
  margin-bottom: -1px;
  text-decoration: none;
  color: #11116B;
}
.main-faq-container .main-faq-collapse-container .card-header {
  background: none transparent;
  border: 0;
  margin-bottom: 0;
  padding: 0;
}
.main-faq-container .main-faq-collapse-container .img-chevron {
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  -ms-filter: grayscale(0);
  filter: grayscale(0);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.main-faq-container .main-faq-collapse-container .collapsed {
  color: #424045;
  -webkit-transition: border 0s lineal;
  -moz-transition: border 0s lineal;
  -o-transition: border 0s lineal;
  transition: border 0s lineal;
  border: 1px solid #CBCBCB;
  margin-bottom: 0;
}
.main-faq-container .main-faq-collapse-container .collapsed .img-chevron {
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  -ms-filter: grayscale(1);
  filter: grayscale(1);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.main-faq-container .main-faq-collapse-container .card-body {
  text-align: left;
  padding: 1.3rem;
  font-size: 1.1rem;
  line-height: 2rem;
}
.main-faq-container .main-faq-collapse-container .collapsing {
  -webkit-transition: border 0s lineal;
  -moz-transition: border 0s lineal;
  -o-transition: border 0s lineal;
  transition: border 0s lineal;
  border-bottom: 1px solid #11116B;
  border-left: 1px solid #11116B;
  border-right: 1px solid #11116B;
  border-top: 0;
}
.main-faq-container .main-faq-collapse-container .show {
  -webkit-transition: border 0s lineal;
  -moz-transition: border 0s lineal;
  -o-transition: border 0s lineal;
  transition: border 0s lineal;
  border-bottom: 1px solid #11116B;
  border-left: 1px solid #11116B;
  border-right: 1px solid #11116B;
  border-top: 0;
}
/* --------------------------------------------------------------
4.- WEBINAR MODS
-------------------------------------------------------------- */
.container-webinar {
  font-family: 'Spartan', sans-serif !important;
}
.container-webinar .main-hero-container .main-hero-content h1 {
  font-weight: 300;
}
.container-webinar .main-hero-container {
  padding-bottom: 0;
}
.container-webinar .main-ebook-description-container .main-ebook-description-content .main-ebook-description-title {
  font-weight: 500;
}
.container-webinar .main-ebook-description-container .main-ebook-description-content .main-ebook-description-title strong {
  font-weight: 900;
}
.container-webinar .main-know-container .main-know-content .main-know-description-title {
  font-weight: 500;
}
.container-webinar .main-bullets-container .main-bullets-content .main-bullets-title {
  font-weight: 500;
}
.container-webinar .main-about-container .main-about-content .main-about-subtitle {
  font-style: normal;
}
.container-webinar .main-services-container .main-services-content .main-services-subtitle {
  font-style: normal;
}
.container-webinar .main-test-container .main-test-content .main-test-text {
  font-size: 1.3rem;
  line-height: 2.5rem;
  padding: 1rem 3rem;
  font-weight: 600;
}
.container-webinar .main-faq-container .main-faq-content .main-faq-subtitle {
  font-style: normal;
  font-weight: 500;
}
.main-hero-boxed-content {
  position: relative;
  padding-right: 4vw;
  margin-left: 39%;
}
.main-hero-image-swiper {
  margin-top: -3rem;
}
.main-hero-image-wrapper {
  position: relative;
  padding-top: 3rem;
  z-index: 9;
}
.main-hero-image-wrapper .img-background {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.main-hero-image-wrapper .img-person {
  z-index: 2;
}
.main-hero-image-info-box {
  position: absolute;
  bottom: 10px;
  left: 50px;
  background: white;
  padding: 1rem 2.5rem;
  padding-bottom: 0.5rem;
  text-align: center;
  max-width: 330px;
}
.main-hero-image-info-box .star-container {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  color: #FFA32A;
  letter-spacing: 3px;
}
.main-hero-image-info-box h3 {
  font-size: 1.5rem;
  font-weight: 600;
}
.box-webinar-lines {
  position: absolute;
  right: 5%;
  z-index: 8;
}
/* --------------------------------------------------------------
4.- THANKS - PRE-LAUNCH
-------------------------------------------------------------- */
.landing-thanks-page-container {
  position: relative;
  background: #FCF6F1 url(../images/thanks-page-1.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  padding: 8rem 1rem;
}
.landing-thanks-page-container:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  min-height: 480px;
  width: 180px;
  z-index: 0;
  background: url(../images/thanks-page-2.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.landing-thanks-page-container:after {
  content: '';
  position: absolute;
  top: 0;
  right: 10vw;
  min-height: 480px;
  width: 180px;
  z-index: 0;
  background: url(../images/thanks-page-3.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.landing-thanks-page-container .landing-thanks-page-content {
  text-align: center;
}
.landing-thanks-page-container .landing-thanks-page-content .navbar-brand {
  margin-bottom: 1.5rem;
}
.landing-thanks-page-container .landing-thanks-page-content h1 {
  color: #11116B;
  font-family: 'Spartan', sans-serif;
  font-weight: 700;
  font-size: 3rem;
  padding: 1.5rem 5rem;
  line-height: 3.5rem;
}
.landing-thanks-page-container .landing-thanks-page-content h2 {
  color: #717171;
  font-family: 'Spartan', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
}
.coming-soon-time {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  padding-top: 0;
}
.coming-soon-time .coming-soon-time-wrapper {
  color: #FCF6F1;
  max-width: 35vw;
  width: 100%;
  padding: 1rem 2rem;
  padding-bottom: 3rem;
  border-radius: 35px;
  z-index: 9;
}
.coming-soon-time .promo-countdown-container {
  padding: 1rem 2rem;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  flex-wrap: wrap;
  /* Removes SVG styling that would hide the time label */
  /* The SVG path that displays the timer's progress */
}
.coming-soon-time .promo-countdown-container .base-timer {
  position: relative;
  height: 110px;
  width: 110px;
  text-align: center;
}
.coming-soon-time .promo-countdown-container .base-timer h4 {
  color: #717171;
  font-family: 'Spartan', sans-serif;
  margin-top: 15px;
  font-weight: 500;
  font-size: 1.3rem;
}
.coming-soon-time .promo-countdown-container .base-timer__circle {
  fill: none;
  stroke: none;
}
.coming-soon-time .promo-countdown-container .base-timer__path-elapsed {
  stroke-width: 7px;
  stroke: #FDD197;
}
.coming-soon-time .promo-countdown-container .base-timer__label {
  position: absolute;
  font-family: 'Spartan', sans-serif;
  color: #11116B;
  /* Size should match the parent container */
  width: 110px;
  height: 110px;
  /* Keep the label aligned to the top */
  top: 0px;
  /* Create a flexible box that centers content vertically and horizontally */
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  /* Sort of an arbitrary number; adjust to your liking */
  font-size: 35px;
  font-weight: 400;
}
.coming-soon-time .promo-countdown-container .base-timer__path-remaining {
  /* Just as thick as the original ring */
  stroke-width: 10px;
  /* Rounds the line endings to create a seamless circle */
  stroke-linecap: round;
  /* Makes sure the animation starts at the top of the circle */
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: center;
  -moz-transform-origin: center;
  -ms-transform-origin: center;
  -o-transform-origin: center;
  transform-origin: center;
  /* One second aligns with the speed of the countdown timer */
  -webkit-transition: all 1s linear;
  -moz-transition: all 1s linear;
  -o-transition: all 1s linear;
  transition: all 1s linear;
  /* Allows the ring to change color when the color value updates */
  stroke: #FFA32A;
}
.coming-soon-time .promo-countdown-container .base-timer__svg {
  /* Flips the svg and makes the animation to move left-to-right */
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
}
.mailchimp-form-container {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.mailchimp-form-container .mailchimp-form-container-wrapper {
  max-width: 34vw;
  width: 100%;
}
.mailchimp-form-container .mailchimp-form-container-wrapper input {
  font-size: 1.2rem;
  height: auto;
  font-family: 'Spartan', sans-serif;
  padding: 1rem 1.2rem;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border: 2px solid #424045;
  border-right: 3px solid #424045;
}
.mailchimp-form-container .mailchimp-form-container-wrapper input::-webkit-input-placeholder {
  color: #717171;
}
.mailchimp-form-container .mailchimp-form-container-wrapper input:-moz-placeholder {
  color: #717171;
}
.mailchimp-form-container .mailchimp-form-container-wrapper input::-moz-placeholder {
  color: #717171;
}
.mailchimp-form-container .mailchimp-form-container-wrapper input:-ms-input-placeholder {
  color: #717171;
}
.mailchimp-form-container .mailchimp-form-container-wrapper input:focus {
  box-shadow: none;
}
.mailchimp-form-container .mailchimp-form-container-wrapper .btn-outline-secondary {
  border: 3px solid #FFA32A;
  background: #FFA32A;
  color: #ffffff;
  font-family: 'Spartan', sans-serif;
  font-weight: 500;
  padding: 0.5rem 2rem;
  font-size: 1.2rem;
  letter-spacing: 1px;
  border-radius: 0px !important;
  z-index: 9;
}
.mailchimp-form-container .mailchimp-form-container-wrapper .btn-outline-secondary:hover {
  border-color: #11116B;
  background: #11116B;
}
.thanks-main-class {
  padding: 13vh 1rem !important;
  padding-bottom: 26vh !important;
}
.thanks-main-class h2 {
  font-size: 2rem;
  line-height: 3rem;
}
.thanks-svg {
  max-width: 130px;
  display: block;
  margin: 2rem auto;
  margin-bottom: 1.5rem;
}
.error-thanks-email {
  display: block;
  width: 100%;
  margin-top: 1.1rem;
  font-size: 1.1rem;
  color: #dc3545;
}
.button-thanks-container {
  text-align: center;
  padding: 3rem 1rem;
  color: gray;
}
.button-thanks-container h5 {
  font-family: 'Spartan', sans-serif;
  font-size: 1.1rem;
  margin-bottom: 0.8rem;
}
.button-thanks-container .btn-thanks-action {
  border: 3px solid #11116B;
  background: #11116B;
  color: #ffffff;
  font-family: 'Spartan', sans-serif;
  font-weight: 500;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  letter-spacing: 1px;
  border-radius: 0px !important;
  z-index: 9;
}
.button-thanks-container .btn-thanks-action:hover {
  border-color: #FFA32A;
  background: #FFA32A;
}
.custom-modal .modal-content {
  border: 0;
  border-radius: 5px;
  outline: 0;
}
.custom-modal .modal-content .modal-header {
  border: 0;
  padding-bottom: 0;
}
.custom-modal .modal-content .modal-body {
  font-family: 'Spartan', sans-serif;
  text-align: center;
}
.custom-modal .modal-content .modal-body img {
  max-width: 350px;
}
.main-fullform-container {
  padding: 1rem 2rem;
  padding-bottom: 0.5rem;
}
.main-fullform-container .fullform-input-container {
  text-align: left;
  margin-bottom: 1rem;
  font-size: 1.1rem;
}
.main-fullform-container .fullform-input-container .loader-css {
  padding: 0;
  margin: 2rem auto;
  margin-bottom: 0;
  display: block;
}
.main-fullform-container .fullform-input-container .form-control {
  border-radius: 0;
  border: 1px solid gainsboro;
  padding: 0.8rem 1rem;
  height: auto;
}
.main-fullform-container .fullform-input-container label {
  font-weight: 600;
}
.main-fullform-container .fullform-input-container .btn-modal {
  color: #ffffff;
  background: #FFA32A;
  padding: 1rem 2rem;
  border-radius: 0;
  display: block;
  margin: 0 auto;
  font-size: 1.2rem;
  margin-top: 2rem;
  font-weight: 600;
}
.main-fullform-container .fullform-input-container .btn-modal:hover {
  background: #11116B;
  color: #ffffff;
}
