// compress: false, javascriptEnabled: true
/* --------------------------------------------------------------
/* MAIN LESS MIXINS AND FUNCTIONS - LESSHAT
-------------------------------------------------------------- */
@import 'less/_lesshat.less';
/* --------------------------------------------------------------
VARIABLES
-------------------------------------------------------------- */
@mainfont: 'Merriweather', serif;
@secondfont: 'Spartan', sans-serif;
@black: #000000;
@gray: #424045;
@sgray: #717171;
@lightgray: #FBF6F2;
@white: #ffffff;
@yellow: #FFA32A;
@myellow: #FDD197;
@syellow: #FCF6F1;
@blue: #11116B;

/* --------------------------------------------------------------
BODY DEFAULTS
-------------------------------------------------------------- */
html,
body {
    height: 100%;
    scroll-behavior: smooth;
}

@media (min-width: 1200px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1200px;
    }
}


@media screen and (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

body {
    color: @gray;
    font-family: @mainfont;
    font-weight: 400;
}

a {
    .transition(all .3s ease-in-out);

    &:hover {
        text-decoration: none;
    }
}

.page-container {
    min-height: 75vh;
}

/* LOADER */
.loader-css {
    display: inline-block;
    width: 80px;
    height: 80px;
    padding-top: 2rem;
}

.loader-css:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid @yellow;
    border-color: @yellow transparent @yellow transparent;
    animation: loader-spin 1.2s linear infinite;
}

@keyframes loader-spin {
    0% {
        .transform(rotate(0deg));
    }

    100% {
        .transform(rotate(360deg));
    }
}

.btn-yellow {
    font-family: @secondfont;
    background: @yellow;
    color: @white;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 0;
    padding: 0.7rem 1.1rem;

    &:hover {
        background: @blue;
        color: @white;
    }
}


/* --------------------------------------------------------------
1.- HEADER
-------------------------------------------------------------- */
.container-header {
    background: white;
    z-index: 99;
}

.fixed-nav {
    position: fixed;
    top: 0;
    left: 0;
}

.the-header {
    background: @white;
    color: @black;
    padding: 1rem 1rem;

    & .header-logo {
        & .navbar-brand {
            margin: 0;
        }
    }

    & .header-button {
        text-align: right;
    }
}


/* --------------------------------------------------------------
2.- FOOTER
-------------------------------------------------------------- */
.the-footer {
    padding: 3rem 1rem;
    padding-bottom: 1rem;

    & .footer-sidebar {
        list-style: none;
        padding: 0;
        margin: 0;

        & .widgettitle {
            font-size: 1.2rem;
            text-transform: uppercase;
            font-weight: 400;
            text-align: center;
            margin-bottom: 1rem;
        }

        & .textwidget {
            padding: 1rem 2rem;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;

            & img {
                margin: 0 0.5rem;
                max-width: 80px;
            }
        }
    }
}

.footer-copy {
    padding: 1rem;
    border-top: 1px solid #CBCBCB;

    .media-custom {
        font-family: @secondfont;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        line-height: 0.3rem;
        font-size: 0.75rem;

        & img {
            max-width: 40px;
            margin-top: -22px;
            padding-right: 15px;
        }

        & a {
            color: @black;
            text-decoration: underline;
        }
    }

    & .footer-copy-right {
        font-size: 2rem;
        text-align: right;
        margin-top: -10px;

        & a {
            color: @gray;
            margin-left: 5px;
        }
    }
}

/* --------------------------------------------------------------
3.- HOME
-------------------------------------------------------------- */
/* MAIN HERO */
.main-hero-container {
    position: relative;
    padding: 5rem 0rem;
    overflow: hidden;

    & .img-back {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: -1;
        height: 100%;
        width: auto;
    }

    & .main-hero-content {
        font-size: 1.4rem;
        line-height: 2.4rem;

        & h1 {
            font-size: 3.2rem;
            line-height: 4rem;
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 1.5rem;
        }

        & .btn-hero {
            margin-top: 1rem;
        }
    }

    & .main-hero-image {
        text-align: right;
    }
}

/* MAIN EBOOK DESCRIPTION */
.main-ebook-description-container {
    position: relative;
    padding: 8rem 1rem;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: white;
        z-index: 0;
        opacity: .9;
    }

    & .main-ebook-description-content {
        text-align: center;

        & .main-ebook-description-title {
            font-size: 2.4rem;
            line-height: 3rem;
        }

        & .main-ebook-description-text {
            font-family: @secondfont;
            font-size: 1.6rem;
            line-height: 2.5rem;
            margin: 1.5rem 0;
            font-weight: 300;
        }

        & small {
            font-family: @secondfont;
            display: block;
            font-size: 1.1rem;
            font-weight: 600;
            margin-top: .5rem;
        }

        & .btn-hero {
            margin-top: 1.5rem;
            padding: 1.3rem 1.5rem;
            padding-bottom: 1rem;
            line-height: 1.2rem;
            font-size: 1.2rem;
        }
    }
}

/* MAIN KNOW DESCRIPTION */
.main-know-container {
    position: relative;
    padding: 7rem 1rem;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    background-position: left center !important;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: white;
        z-index: 0;
        opacity: 0;
    }

    & .main-know-content {
        text-align: center;

        & .main-know-description-title {
            font-size: 2.4rem;
            line-height: 3rem;
        }

        & .main-know-description-text {
            font-family: @secondfont;
            font-size: 1.5rem;
            line-height: 2.5rem;
            margin: 1.5rem 0;
            font-weight: 300;

            & strong {
                font-weight: 600;
            }
        }

        & small {
            font-family: @secondfont;
            display: block;
            font-size: 1.1rem;
            font-weight: 600;
            margin-top: .5rem;
        }

        & .btn-hero {
            margin-top: 1.5rem;
            padding: 1.3rem 1.5rem;
            padding-bottom: 1rem;
            line-height: 1.2rem;
            font-size: 1.2rem;
        }
    }
}


/* MAIN BULLETS DESCRIPTION */
.main-bullets-container {
    position: relative;
    padding: 4rem 1rem;
    background-size: contain !important;
    background-position: left center !important;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #f9f2ec;
        z-index: 0;
        opacity: .95;
    }

    & .main-bullets-content {
        background: @white;
        text-align: center;
        padding: 1.5rem 2rem;

        & .main-bullets-title {
            font-size: 2rem;
            line-height: 2.8rem;
            margin-bottom: 1.5rem;
            font-weight: 400;
            text-align: left;
        }

        & .main-bullets-list-content {
            text-align: left;
            list-style: none;

            & li {
                position: relative;
                font-family: @secondfont;
                font-size: 1.15rem;
                line-height: 1.8rem;
                padding-bottom: 0.5rem;

                & strong {
                    font-weight: 600;
                }

                &:before {
                    content: '';
                    position: absolute;
                    background: url(../images/checkmark.png);
                    background-size: cover;
                    height: 25px;
                    width: 25px;
                    top: 4px;
                    left: -38px;
                }
            }
        }

        & small {
            font-family: @secondfont;
            display: block;
            font-size: 1.1rem;
            font-weight: 600;
            margin-top: .5rem;
        }

        & .btn-hero {
            width: 100%;
            margin-top: 1rem;
            padding: 1.3rem 1.5rem;
            padding-bottom: 1rem;
            line-height: 1.2rem;
            font-size: 1.2rem;
        }
    }
}

/* MAIN ABOUT SECTION */
.main-about-container {
    position: relative;
    padding: 7rem 1rem;
    overflow: hidden;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    background-position: right center !important;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: white;
        z-index: 0;
        opacity: 0;
    }

    & .main-about-content {
        text-align: left;

        & .main-about-title {
            font-size: 2.6rem;
            line-height: 3.4rem;
            font-weight: 600;
            margin-bottom: .5rem;
        }

        & .main-about-subtitle {
            font-style: italic;
            font-size: 1.5rem;
            line-height: 1.5rem;
            margin-bottom: 2rem;
        }

        & .main-about-text {
            font-family: @secondfont;
            font-size: 1.5rem;
            line-height: 2.4rem;
            margin: 1.5rem 0;
            font-weight: 300;

            & strong {
                font-weight: 600;
            }
        }
    }
}

/* BULLETS 2 */
.bullets2 {
    &:before {
        opacity: 0.5;
        background: #f1f1f1;
    }
}

/* MAIN SERVICES SECTION */
.main-services-container {
    position: relative;
    padding: 7rem 1rem;

    & .main-services-content {
        text-align: center;

        & .main-services-title {
            font-size: 2.4rem;
            line-height: 3rem;
            font-weight: 600;
        }

        & .main-services-subtitle {
            font-size: 1.6rem;
            line-height: 3rem;
            font-style: italic;
            padding: 1rem 5rem;
            margin-bottom: 1.5rem;
        }


    }

    & .services-item {
        text-align: center;
        margin-bottom: 2rem;

        & .services-item-wrapper {
            border: 1px solid #e6e6e6;
            padding: 2rem 1.5rem;
            min-height: 420px;
            text-align: center;

            & h3 {
                position: relative;
                font-size: 1.3rem;
                margin-top: 5rem;
                margin-bottom: 1.5rem;

                &:before {
                    content: '';
                    background-color: @gray;
                    position: absolute;
                    top: -2rem;
                    left: 40%;
                    width: 70px;
                    height: 3px;
                    opacity: .5;
                }
            }

            & .services-item-wrapper-text {
                font-family: @secondfont;
                font-size: 1.05rem;
                line-height: 2rem;
                margin: 1rem 0;
                margin-bottom: 0;
                font-weight: 400;

                & strong {
                    font-weight: 600;
                }
            }
        }
    }

    & .main-services-button-content {
        text-align: center;

        & small {
            font-family: @secondfont;
            display: block;
            font-size: 1.1rem;
            font-weight: 600;
            margin-top: .5rem;
        }

        & .btn-hero {
            margin-top: 1.5rem;
            padding: 1.3rem 1.5rem;
            padding-bottom: 1rem;
            line-height: 1.2rem;
            font-size: 1.2rem;
        }
    }
}

/* MAIN TESTIMONIALS SECTION */
.main-test-container {
    background-color: @lightgray;
    position: relative;
    padding: 7rem 1rem;

    & .main-test-content {
        text-align: center;

        & .main-test-title {
            font-size: 2.4rem;
            line-height: 3rem;
            font-weight: 600;
        }

        & .main-test-text {
            font-size: 1.3rem;
            line-height: 3rem;
            padding: 1rem 2rem;
            margin-bottom: 1.5rem;
        }
    }

    & small {
        font-family: @secondfont;
        display: block;
        font-size: 1.1rem;
        font-weight: 600;
        margin-top: .5rem;
    }

    & .btn-hero {
        margin-top: 1.5rem;
        padding: 1.3rem 1.5rem;
        padding-bottom: 1rem;
        line-height: 1.2rem;
        font-size: 1.2rem;
    }


    .main-test-slider-container {
        & .testimonial-swiper {
            position: relative;
            font-family: @secondfont;

            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 24vw;
                height: 100%;
                background: linear-gradient(90deg, #fbf6f2 0%, rgba(251, 246, 241, 1) 50%, rgba(251, 246, 242, 0.70) 100%);
                box-shadow: 55px -100px 161px rgba(251, 246, 242, 1);
                z-index: 999;
            }

            &:after {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                width: 24vw;
                height: 100%;
                background: rgb(255, 255, 255);
                background: linear-gradient(270deg, #fbf6f2 0%, rgba(251, 246, 241, 1) 50%, rgba(251, 246, 242, 0.70) 100%);
                box-shadow: -55px -100px 169px #fbf6f2;
                z-index: 999;
            }

            & .services-item-wrapper-text {
                padding: 1.5rem 0;
                line-height: 2rem;
                font-size: 1.1rem;

                & .star-container {
                    color: @yellow;
                    font-size: 0.9rem;
                    margin-bottom: 0;
                }

                & h3 {
                    font-weight: 600;
                    font-size: 1rem;
                }
            }
        }
    }
}

/* MAIN FAQ SECTION */
.main-faq-container {
    position: relative;
    padding: 7rem 1rem;
    overflow: hidden;
    background-size: cover !important;
    background-attachment: fixed !important;
    background-position: right center !important;
    border-bottom: 1px solid #CBCBCB;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: white;
        z-index: 0;
        opacity: .9;
    }

    & .main-faq-content {
        text-align: center;

        & .main-faq-title {
            font-size: 2.6rem;
            line-height: 3.4rem;
            font-weight: 600;
            margin-bottom: .5rem;
        }

        & .main-faq-subtitle {
            font-style: italic;
            font-size: 1.3rem;
            line-height: 2.5rem;
            margin-bottom: 2rem;
            padding: 0.5rem 3rem
        }
    }

    & .main-faq-collapse-container {

        & .accordion>.card {
            overflow: hidden;
            border: 0;
            margin-bottom: 1.5rem;
            border-radius: 0;
            border-bottom: 0;
        }

        & .btn-collapse {
            padding: 1.3rem;
            border-radius: 0;
            border-top: 1px solid @blue;
            border-left: 1px solid @blue;
            border-right: 1px solid @blue;
            font-family: @secondfont;
            font-size: 1.2rem;
            font-weight: 500;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            box-shadow: none !important;
            margin-bottom: -1px;
            text-decoration: none;
            color: @blue;
        }

        & .card-header {
            background: none transparent;
            border: 0;
            margin-bottom: 0;
            padding: 0;
        }

        & .img-chevron {
            .filter(grayscale(0));
            .transition(all .3s ease-in-out);
        }

        & .collapsed {
            color: @gray;
            .transition(border 0 lineal);
            border: 1px solid #CBCBCB;
            margin-bottom: 0;

            & .img-chevron {
                .filter(grayscale(1));
                .transform(rotate(180deg));
            }
        }

        & .card-body {
            text-align: left;
            padding: 1.3rem;
            font-size: 1.1rem;
            line-height: 2rem;
        }

        & .collapsing {
            .transition(border 0 lineal);
            border-bottom: 1px solid @blue;
            border-left: 1px solid @blue;
            border-right: 1px solid @blue;
            border-top: 0;
        }

        & .show {
            .transition(border 0 lineal);
            border-bottom: 1px solid @blue;
            border-left: 1px solid @blue;
            border-right: 1px solid @blue;
            border-top: 0;
        }


    }
}


/* --------------------------------------------------------------
4.- WEBINAR MODS
-------------------------------------------------------------- */
.container-webinar {
    font-family: @secondfont  !important;

    & .main-hero-container .main-hero-content h1 {
        font-weight: 300;
    }

    .main-hero-container {
        padding-bottom: 0;
    }

    .main-ebook-description-container .main-ebook-description-content .main-ebook-description-title {
        font-weight: 500;

        & strong {
            font-weight: 900;
        }
    }

    .main-know-container .main-know-content .main-know-description-title {
        font-weight: 500;
    }

    .main-bullets-container .main-bullets-content .main-bullets-title {
        font-weight: 500;
    }

    .main-about-container .main-about-content .main-about-subtitle {
        font-style: normal;
    }

    .main-services-container .main-services-content .main-services-subtitle {
        font-style: normal;
    }

    .main-test-container .main-test-content .main-test-text {
        font-size: 1.3rem;
        line-height: 2.5rem;
        padding: 1rem 3rem;
        font-weight: 600;
    }

    .main-faq-container .main-faq-content .main-faq-subtitle {
        font-style: normal;
        font-weight: 500;
    }

}

.main-hero-boxed-content {
    position: relative;
    padding-right: 4vw;
    margin-left: 39%;
}

.main-hero-image-swiper {
    margin-top: -3rem;
}

.main-hero-image-wrapper {
    position: relative;
    padding-top: 3rem;
    z-index: 9;


    & .img-background {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: -1;
    }

    & .img-person {
        z-index: 2;
    }
}

.main-hero-image-info-box {
    position: absolute;
    bottom: 10px;
    left: 50px;
    background: white;
    padding: 1rem 2.5rem;
    padding-bottom: .5rem;
    text-align: center;
    max-width: 330px;


    & .star-container {
        font-size: .9rem;
        margin-bottom: 0.5rem;
        color: @yellow;
        letter-spacing: 3px;
    }

    & h3 {
        font-size: 1.5rem;
        font-weight: 600;
    }
}

.box-webinar-lines {
    position: absolute;
    right: 5%;
    z-index: 8;
}

/* --------------------------------------------------------------
4.- THANKS - PRE-LAUNCH
-------------------------------------------------------------- */
.landing-thanks-page-container {
    position: relative;
    background: @syellow url(../images/thanks-page-1.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    padding: 8rem 1rem;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        min-height: 480px;
        width: 180px;
        z-index: 0;
        background: url(../images/thanks-page-2.png);
        background-size: contain;
        background-repeat: no-repeat;
    }

    &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 10vw;
        min-height: 480px;
        width: 180px;
        z-index: 0;
        background: url(../images/thanks-page-3.png);
        background-size: contain;
        background-repeat: no-repeat;
    }

    & .landing-thanks-page-content {
        text-align: center;

        & .navbar-brand {
            margin-bottom: 1.5rem;
        }

        & h1 {
            color: @blue;
            font-family: @secondfont;
            font-weight: 700;
            font-size: 3rem;
            padding: 1.5rem 5rem;
            line-height: 3.5rem;
        }

        & h2 {
            color: @sgray;
            font-family: @secondfont;
            font-weight: 400;
            font-size: 1.5rem;
        }
    }


}

.coming-soon-time {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
    padding-top: 0;

    & .coming-soon-time-wrapper {
        color: @syellow;
        max-width: 35vw;
        width: 100%;
        padding: 1rem 2rem;
        padding-bottom: 3rem;
        border-radius: 35px;
        z-index: 9;
    }

    & .promo-countdown-container {
        padding: 1rem 2rem;
        .display(flex);
        .align-items(center);
        .justify-content(space-between);
        flex-wrap: wrap;

        .base-timer {
            position: relative;
            height: 110px;
            width: 110px;
            text-align: center;

            & h4 {
                color: @sgray;
                font-family: @secondfont;
                margin-top: 15px;
                font-weight: 500;
                font-size: 1.3rem;
            }
        }

        /* Removes SVG styling that would hide the time label */
        .base-timer__circle {
            fill: none;
            stroke: none;
        }

        /* The SVG path that displays the timer's progress */
        .base-timer__path-elapsed {
            stroke-width: 7px;
            stroke: @myellow;
        }

        .base-timer__label {
            position: absolute;
            font-family: @secondfont;
            color: @blue;
            /* Size should match the parent container */
            width: 110px;
            height: 110px;

            /* Keep the label aligned to the top */
            top: 0px;

            /* Create a flexible box that centers content vertically and horizontally */
            .display(flex);
            .align-items(center);
            .justify-content(center);

            /* Sort of an arbitrary number; adjust to your liking */
            font-size: 35px;
            font-weight: 400;
        }

        .base-timer__path-remaining {
            /* Just as thick as the original ring */
            stroke-width: 10px;

            /* Rounds the line endings to create a seamless circle */
            stroke-linecap: round;

            /* Makes sure the animation starts at the top of the circle */
            .transform(rotate(90deg));
            .transform-origin(center);

            /* One second aligns with the speed of the countdown timer */
            .transition(all 1s linear);

            /* Allows the ring to change color when the color value updates */
            stroke: @yellow;

        }

        .base-timer__svg {
            /* Flips the svg and makes the animation to move left-to-right */
            .transform(scaleX(-1));
        }
    }
}

.mailchimp-form-container {
    .display(flex);
    .align-items(center);
    .justify-content(center);

    .mailchimp-form-container-wrapper {
        max-width: 34vw;
        width: 100%;

        & input {
            font-size: 1.2rem;
            height: auto;
            font-family: @secondfont;
            padding: 1rem 1.2rem;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
            border: 2px solid @gray;
            border-right: 3px solid @gray;

            .placeholder(@sgray);

            &:focus {
                box-shadow: none;
            }
        }

        & .btn-outline-secondary {
            border: 3px solid @yellow;
            background: @yellow;
            color: @white;
            font-family: @secondfont;
            font-weight: 500;
            padding: 0.5rem 2rem;
            font-size: 1.2rem;
            letter-spacing: 1px;
            border-radius: 0px !important;
            z-index: 9;

            &:hover {
                border-color: @blue;
                background: @blue;
            }
        }
    }
}

.thanks-main-class {
    padding: 13vh 1rem !important;
    padding-bottom: 26vh !important;

    & h2 {
        font-size: 2rem;
        line-height: 3rem;
    }
}

.thanks-svg {
    max-width: 130px;
    display: block;
    margin: 2rem auto;
    margin-bottom: 1.5rem;
}

.error-thanks-email {
    display: block;
    width: 100%;
    margin-top: 1.1rem;
    font-size: 1.1rem;
    color: #dc3545;
}

.button-thanks-container {
    text-align: center;
    padding: 3rem 1rem;
    color: gray;

    & h5 {
        font-family: @secondfont;
        font-size: 1.1rem;
        margin-bottom: 0.8rem;
    }

    & .btn-thanks-action {
        border: 3px solid @blue;
        background: @blue;
        color: @white;
        font-family: @secondfont;
        font-weight: 500;
        padding: 1rem 2rem;
        font-size: 1.2rem;
        letter-spacing: 1px;
        border-radius: 0px !important;
        z-index: 9;

        &:hover {
            border-color: @yellow;
            background: @yellow;
        }
    }
}

.custom-modal {
    .modal-content {
        border: 0;
        border-radius: 5px;
        outline: 0;

        & .modal-header {
            border: 0;
            padding-bottom: 0;
        }

        & .modal-body {
            font-family: @secondfont;
            text-align: center;

            & img {
                max-width: 350px;
            }
        }
    }
}

.main-fullform-container {
    padding: 1rem 2rem;
    padding-bottom: .5rem;

    & .fullform-input-container {
        text-align: left;
        margin-bottom: 1rem;
        font-size: 1.1rem;

        & .loader-css {
            padding: 0;
            margin: 2rem auto;
            margin-bottom: 0;
            display: block;
        }

        & .form-control {
            border-radius: 0;
            border: 1px solid gainsboro;
            padding: 0.8rem 1rem;
            height: auto;
        }

        & label {
            font-weight: 600;
        }

        & .btn-modal {
            color: @white;
            background: @yellow;
            padding: 1rem 2rem;
            border-radius: 0;
            display: block;
            margin: 0 auto;
            font-size: 1.2rem;
            margin-top: 2rem;
            font-weight: 600;

            &:hover {
                background: @blue;
                color: @white;
            }
        }
    }
}